/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 15rem;
}

footer p {
  color: var(--text-default);
  font-size: 2rem;
}

footer code {
  color: var(--default-blue);
}


@media (max-width: 768px) {
  footer {
    padding: 2rem 3rem;
  }

  footer p {
    font-size: 1.5rem;
  }
}